html,
body {
    padding: 0;
    margin: 0;
    font-family: Noto Sans, sans-serif;
    background-color: #204469;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}