.account{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 9vh;
    color: #EDF1FC !important;
}
.alink{

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    color: #6A9CD1;

}
.acclink{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* margin-top: 10vh; */
    top: 0%;
    bottom: 0%;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background-color: #041c32;
    overflow: auto;
    align-items: stretch;
    
}
.box {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
}

.cardLeft {
    flex: 1;
    margin-inline: 0px;
    flex-direction: row;
    height: 100%;
    align-content: flex-start;
    position: relative;
}
@media only screen and (max-width: 720px) {
    .card {
        display: flex;
        flex-direction: column;
    } 
}

.cardRight {
    /* padding-top: 25vh; */
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
    padding-bottom: 40px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
}

.headingText {
    color: #ffffff;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    background-color: #57799d;
    align-items: center;
}

.listStyle {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.logoStyle{
    color: white;
    text-shadow: #041c32;
    text-align: center;
    align-content: center;
    z-index: 9;
}
.imageStyle {
    height: 100%;
}

.imageStyle > span {
    height: 100% !important;
}
.input{
    align-content: center;
}
.buttonStyle {
    margin: 0 auto;
    display: flex;
    margin-top: 5%;
    border-radius: 20px;
    padding: 10px;
    background-color: #57799d80;
    color: #ffffff;
    font-size: 20px;
}

.buttonStyle:hover {
    background-color: #57799d;
}