.card {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 3px;
    /* margin-bottom: 1vh; */
    width: 80%;
    border-radius: 10px;
    background-color: #ececec;
    overflow: hidden;
    align-items: stretch;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardLeft {
    flex: 1;
    margin-inline: 0px;
}

.cardRight {
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
    padding-bottom: 40px;
}

.headingText {
    color: #000000;
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    background-color: #A9BCD0;
    align-items: center;
}

.listStyle {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.imageStyle {
    height: 100%;
}

.imageStyle > span {
    height: 100% !important;
}

.buttonStyle {
    margin: 0 auto;
    display: flex;
    margin-top: 5%;
    border-radius: 20px;
    padding: 10px;
    background-color: #1b1b1e;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: #030303;
}
